body{
  background:    url("bg_backwave.png") -7px 300px repeat-x,
                 url("ship.png") 300px 150px no-repeat,
                 url("bg_frontwave.png") 0 300px repeat-x,
                 url("bg_clouds.gif") 0 0 repeat-x,
                 linear-gradient(to top, #6fbdc3 10%,#1f243a 100%),
                 #6fbdc3;
  animation: wave 5s infinite ease-in-out;
              }
  @keyframes wave {
       50%{background-position:  7px 303px,300px 153px,-30px 297px,-10px 0,2px 0,0 0 ;}
  }
/* css gradient designer http://www.colorzilla.com/gradient-editor/ */
/* color picker for chrome */
#main  {
  border:1px solid red;
  width:800px;
  height:10000px;
  margin:0 auto;
  position:relative;
}
 #counter{
    height:100px;
    width:100px;
    line-height: 30px;
    text-align: center;
    /* border:1px solid blue; */
    border-radius: 50%;
    position: absolute;
    top:60px;
    left:0;
    color: white;
    font-family: verdana, sans-serif;
    font-weight: 900;
    background-color: #F2E2CF;
    }
